$colors: (
  neutral: (
    100: hsl(100, 100%, 100%),
    200: hsl(0, 0%, 97%),
    600: hsl(0, 0%, 21%),
    700: hsl(0, 0%, 14%),
  ),
  accent: (
    orange: hsl(15, 73%, 55%),
    blue: rgb(79, 79, 252),
  ),
);
