$type-scale: (
  small: (
    200: 0.6rem,
    300: 0.75rem,
    400: 1rem,
    500: 1.333rem,
    600: 1.777rem,
    700: 2.369rem,
    800: 3.157rem,
    900: 4.209rem,
  ),
  medium: (
    300: 1rem,
    400: 1.425rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
    900: 11rem,
  ),
);
