@use "../abstracts/mixins" as *;
@use "../abstracts/type-scale" as *;

#shopping-cart-modal {
  background-color: gray;
  padding: 2em;
  .service-item-wrapper {
    flex-direction: column;
    .service-item {
      width: 100%;
    }
  }
  @include mq(medium) {
    width: 500px;
    height: auto;
  }
}
