@use "../abstracts/mixins" as *;
@use "../abstracts/type-scale" as *;

#template-modal {
  background-color: var(--clr-neutral-700);
  position: absolute;
  @include mq(medium) {
    height: 100%;
    width: 100%;
    top: 0;
  }
}
