// change namespace by using "as"
// @use '...' as newName
@use "base";
@use "utilities";
@use "components";
@use "layout";
@use "abstracts";
@use "pages";
@use "./abstracts/colors" as *;
@use "./abstracts/type-scale" as *;
@use "./abstracts/mixins" as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{""+$shade}: #{$value};
    }
  }

  @each $screen-size, $font-size in $type-scale {
    @if $screen-size == small {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include mq(medium) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }
}

body {
  .content {
    position: relative;
  }
  @include mq(medium) {
    display: flex;
    flex-direction: row-reverse;
    .content {
      width: 100%;
    }
  }
  a,
  a:visited {
    text-decoration: none;
  }
}
#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 1em auto;
  }
  h1 {
    font-size: var(--fs-600);
  }
  p {
    font-size: var(--fs-400);
    color: gray;
  }
  #rp-logo {
    max-width: 150px;
    margin: 2em auto;
  }
  .nav-options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 1em;
  }
  .nav-option-item {
    height: 200px;
    width: 200px;
    background-color: var(--clr-neutral-100);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--clr-accent-orange) solid;
    border-radius: 0.5em;
    a {
      font-size: var(--fs-400);
      text-align: center;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em;
      &:hover {
        background-color: var(--clr-accent-orange);
        color: var(--clr-neutral-100);
      }
    }
  }
}

#main-content {
  width: 80%;
  margin: auto auto;
}
