---
name: Home
layout: base-no-nav.njk
---

<div class="container" id="home-page">

<div id="main-content">
<div class="heading-wrapper">
    <h1>Project Builder</h1>
    <p>Select a path to explore our services!</p>
</div>

    <ul class="nav-options-wrapper">
        <li class="nav-option-item"><a href="/services-library">Learn</a></li>
        <li class="nav-option-item"><a href="/project-builder">Begin with blank plan</a></li>
        <li class="nav-option-item"><a href="/project-builder">Choose from template</a></li>
    </ul>

</div>
<img id="rp-logo" src="./images/rp-logo.svg" alt="">

</div>
