<div id="shopping-cart-modal" class="hidden">
    <ul id="shopping-list" class="service-item-wrapper">
    </ul>
        <button id="clear-all" class="hidden">Clear All</button>
        <button id="submit" class="hidden">Submit</button>
        
</div>